* {
  text-decoration: 0;
  list-style: none;
  font-size: 18px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  padding: 0 15%;
  background-color: #1F2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.links {
  display: flex;
  gap: 30px;
}

.links a, .intro-content p {
  font-size: 18px;
  color: #E5E7EB;
}

.intro {
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.intro>* {
  flex: 1 1 50%;
}

.intro-content {
  margin-right: 20px;
}

.intro-content h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.intro img {
  width: 50%;
  height: auto;
}

.info img {
  width: 100%;
  height: auto;
}

.btn-signup {
  border-radius: 7px;
  padding: 5px 25px;
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.illust-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
}

.illust {
  width: 15%;
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 70%;
  padding: 50px 0;
  flex: 0 1 auto;
}

.quote .text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.quote .cite {
  text-align: right;
  font-weight: bold;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.signup-container {
  background-color: #3882F6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px 80px;
  border-radius: 10px;
}

.signup .btn-signup {
  border: 2px solid white;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  margin: 0;
  padding: 20px;
}